$primaryTextColor: white;
$secondaryTextColor: #460808;

$primaryFontFamily: "Modak";
$secondaryFontFamily: "Roboto";



//   // box-sizing: border-box;
//   // height: 100%;
//   // width: 100%;
//   border: 5px solid red;
//   // font-size: 1em;




// body {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: url("https://picsum.photos/800/600?random=1"), rgba(0, 0, 0, 0.5);
//   /* ,url("https://picsum.photos/800/600?random=2"); */
//   background-size: cover;
//   background-blend-mode: multiply;
//   /* background-blend-mode: lighten; */
// }